.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #242424;
  color: #f0f0f0;
  position: relative;
  padding-bottom: 10px;
}
/**********  ***********/

.header ul {
  display: flex;
  position: absolute;
  top: 0;
  left: 10px;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.header li {
  padding-right: 10px;
  font-size: 20px;
}

.header li:hover {
  color: white;
}

.title {
  font-size: 35px;
  margin: 0 auto;
}