.jumbotron {
    height: 700px;
    text-align: center;
}

.jumbotron h1, .jumbotron h2 {
    margin: auto;
}

.jumbotron h1 {
    padding-top: 300px;
}

.paintings {
    display: grid;
    grid-template-columns: auto auto auto;    
}