.piece {
  background: none;
  max-width: 60%;
  align-content: center;
  text-align: center;
  position: relative;
  z-index: 2;
}

.image {  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 20vw;
}


@media screen and (max-width: 1200px) {
  .piece a {
    margin-bottom: 50px;
  }

  .image {
    width: 30vw;
  }
}

@media screen and (max-width: 900px) {
  .piece a {
    margin-bottom: 50px;
  }

  .image {
    width: 50vw;
  }
}

