.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 400px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}

.contact section {
  display: flex;
  flex-direction: column;
}

.contact section h1 {
  font-size: 50px;
}

.contact section a:hover {
  text-decoration: underline;
}

.contact section p {
  font-size: 20px;
}

.contact_image {
  box-shadow: 0 4px 8px 0 rgba(117, 82, 82, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
  width: 20vw;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .contact section {
    padding-left: 2em;
  }
}

@media screen and (max-width: 700px) {
    .contact {
      flex-direction: column-reverse;
      text-align: center;
      margin-top: 10em;
    }

    .contact section {
      margin-bottom: 2em;
      padding-left: 0;
    }
    
    .contact section h1 {
      font-size: 40px;
    }

    .contact section p {
      font-size: 20px;
    }

    .contact_image {
      height: 30vh;
      width: 30vw;
    }
  }  