.jumbotron {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.jumbotron h1 {
  font-family: "Merriweather", serif;
  font-size: 50px;
}

.jumbotron h2 {
  font-size: 30px;
}

.recent-pieces {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 100%;
  margin-bottom: 200px;
}


@media screen and (max-width: 900px) {
  .jumbotron h2 {
    font-size: 20px;
    max-width: 80%;
    text-align: center;
  }

  .recent-pieces {
    grid-template-columns: 1fr;
  }  

  .recent-pieces h3 {
      font-size: 30px;
  }
}
